body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u429 {
  position:absolute;
  left:19px;
  top:80px;
  width:634px;
  height:40px;
  font-size:14px;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  word-wrap:break-word;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:572px;
}
#u431 {
  position:absolute;
  left:19px;
  top:175px;
  width:1000px;
  height:562px;
}
#u432 {
  position:absolute;
  left:2px;
  top:273px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u433 {
  position:absolute;
  left:488px;
  top:747px;
  width:52px;
  height:17px;
  font-size:12px;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u435 {
  position:absolute;
  left:474px;
  top:1398px;
  width:73px;
  height:17px;
  font-size:12px;
}
#u436 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:587px;
}
#u437 {
  position:absolute;
  left:19px;
  top:811px;
  width:1000px;
  height:577px;
}
#u438 {
  position:absolute;
  left:2px;
  top:280px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
