body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u417 {
  position:absolute;
  left:19px;
  top:80px;
  width:1001px;
  height:89px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u418 {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  word-wrap:break-word;
}
#u419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u419 {
  position:absolute;
  left:20px;
  top:752px;
  width:1000px;
  height:89px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u420 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:485px;
}
#u421 {
  position:absolute;
  left:20px;
  top:203px;
  width:1000px;
  height:475px;
}
#u422 {
  position:absolute;
  left:2px;
  top:230px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u423 {
  position:absolute;
  left:463px;
  top:688px;
  width:93px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:707px;
}
#u425 {
  position:absolute;
  left:21px;
  top:878px;
  width:1000px;
  height:697px;
}
#u426 {
  position:absolute;
  left:2px;
  top:340px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u427 {
  position:absolute;
  left:437px;
  top:1585px;
  width:119px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
