body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u501 {
  position:absolute;
  left:20px;
  top:128px;
  width:528px;
  height:82px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u502 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  word-wrap:break-word;
}
#u503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u503 {
  position:absolute;
  left:20px;
  top:244px;
  width:421px;
  height:96px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u505 {
  position:absolute;
  left:20px;
  top:80px;
  width:250px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u506 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:537px;
}
#u507 {
  position:absolute;
  left:20px;
  top:392px;
  width:1000px;
  height:527px;
}
#u508 {
  position:absolute;
  left:2px;
  top:256px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u509 {
  position:absolute;
  left:476px;
  top:943px;
  width:89px;
  height:23px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:702px;
}
#u511 {
  position:absolute;
  left:20px;
  top:1013px;
  width:1000px;
  height:692px;
}
#u512 {
  position:absolute;
  left:2px;
  top:338px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u513 {
  position:absolute;
  left:467px;
  top:1733px;
  width:89px;
  height:23px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u514 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
